
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li{
    list-style: none;
    margin-right: 20px;
    
}
ul li a{
    text-decoration: none;
    color: ;
    font-weight: 500;
    font-size: 18px;
}
nav ul{
    display: flex;

    
}
.nav-title{
    font-size:3rem;
    font-weight: bold;
}
/* shared style */
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
/* header style */
header{
    background-color: rgba(255, 144, 14, 0.1);
}


/* banner style */
.navbar,.banner{
    max-width: 1440px;
    margin:0 auto;
}
.btn-primary{
    padding: 21px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    /* justify-content: center; */
}
.brand{
    font-size: 4rem;
    font-weight: bold;
}
.banner-pra{
    font-size:1rem;
    font-weight: 400;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
                  
.banner-image{
    width: 100%;
}
.team{
    display: flex;
    align-items: center;
}
.team-content{
    max-width: 540px;
    /* margin: 0px auto;  */
    margin-left: 130px;
    
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
main > section{
    margin-top: 130px;
}
.team-title{
    font-size: 45px;
    font-weight: 500;
}
.team-pra{
    font-size: 16px;
    font-weight: 400;
}
.facts{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    /* display: flex; */
    gap: 125px;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
}
.card{
    border: 1px solid salmon;
    border-radius: 10px;
    padding: 45px 35px;
    /* width: 240px;
    height: 240px; */
    
}








@media screen and (max-width:576px) {
    .navbar nav ul .team{
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content{
        margin-left: 100px;
    }
    .facts{
        grid-template-columns: repeat(1,1fr);
    }
}
